<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="cine.entidad.Actor" id="actor1">
<property name="id" value="1"></property>
<property name="nombre" value="Jose"></property>
<property name="edad" value="45"></property>


<bean class="cine.entidad.Director" id="direcctor1">
<property name="id" value="1"></property>
<property name="nombre" value="Antonios banderas"></property>
<property name="edad" value="67"></property>
<property name="fechaDeNacimiento" value="25/04/1985"></property>
</bean>
<bean class="cine.entidad.Peliculas" id="pelicula1">
<property name="id" value="1"></property>
<property name="director" ref="direcctor1"></property>
<property name="actor" ref="actor1"></property>

</bean>
</beans>
